<!DOCTYPE html>
<html lang="pt-br">
    <head>
    	<!-- Meta, title, CSS, favicons, etc. -->
    	<!--<meta charset="iso-8859-1"/> -->
    	<meta charset="utf-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<meta name="keywords" content="portfolio, estamparia, confecção"/>

        <link rel="stylesheet" type="text/css"  href= "/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css"  href="/css/normalize.min.css" >
        <link rel="stylesheet" type="text/css"  href="/css/verao2015.css" >
        <title>Portfolio</title>
    </head>
    <body>
		<div class="header-unit">
			<div id="video-container">
				<video autoplay
                       loop
                       preload
                       muted
                       id="verao2015">
					<source src="/img/Motocross.webm" type="video/webm">
					<source src="/img/Motocross.mp4"  type="video/mp4">
				</video>
			</div><!-- end video-container -->
		</div><!-- end .header-unit -->

        <div class="container-fluid">
			<div class="row-fluid clearfix">
				<div class="col-md-4 column">
				</div>
			    <div class="col-md-4 column" id="glass">
    				<br>
    				<p class="text-center">
						<img src="/img/logo.png" class="img-rounded" style="max-height: 50%; max-width: 50%;"/>
					</p>
					<br>
    			</div>
				<div class="col-md-4 column">
				</div>
      </div>
      <br/>
		    </div>
				<div class="col-md-4 column">
			    </div>
            </div>
		</div>

    <footer>
        <ul class="footer-area">
            <strong>Rede Social</strong>
            <li>
                <a href="http://fb.me/portfolioestamparia" target="_blank">
                    <img src="/img/facebook.png" />
                </a>
            </li>
        </ul>
    </footer>

	</body>

    <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" ></script>
    <script src="/javascript/verao2015.js"></script>

    <!-- Google Universal Analytics
    ===============================
    -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-7764158-3', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

</html>
